grid button {
    text-shadow: 1px 1px 5px black;
    box-shadow: 0px 0px 5px black;
    border: 1px solid black;
    transition: 2s;
}

grid button:hover {
    background: green;
}

button.won {
    background: red;
}