button {
    transition: 0.4s;
}

grid button {
    text-shadow: 1px 1px 5px black;
    box-shadow: 0px 0px 5px black;
    border: 1px solid black;
    background: white;
}

grid button:hover {
    background: #a0e1aa;
}

grid button.won {
    background: #630000;
    color: white;
}

grid button.won:hover {
    background: #630000;
}

button.should-restart {
    background: #008c1f;
}